<h1>add a new entry</h1>

<%= form_for @entry do |entries_fields| %>
  <%= entries_fields.label :title %>
  <br><%= entries_fields.text_field :title %>

  <p>

  <%= entries_fields.label :content %>
  <br><%= entries_fields.text_area :content, size: "50x20" %>

  <p><%= entries_fields.submit %>

<% end %>
